[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
numpy = "==1.19.3"
opencv-python = "*"
pywin32 = {version = "*",sys_platform = "== 'win32'"}
PyQt5 = "*"
pytesseract = "*"
pyperclip = "*"
infi-systray = {version = "*",sys_platform = "== 'win32'"}
cx-freeze = "*"
iso-639 = "*"

[requires]
python_version = "3.7"
